{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow p-4 border-danger">
        <h4 class="text-danger">Confirmation de suppression</h4>
        <p>Êtes-vous sûr de vouloir supprimer l'état de besoin <strong>{{ besoin.no_etat_besoin }}</strong> ?</p>
        
        <form method="POST">
            {% csrf_token %}
            <div class="mt-4">
                <button type="submit" class="btn btn-danger">Oui, supprimer</button>
                <a href="{% url 'liste_etats_besoin' %}" class="btn btn-secondary">Annuler</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}