<ul class="nav flex-column">
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link"><i class="bi bi-speedometer2 me-2"></i> Tableau de bord</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'finance_view' %}" class="nav-link"><i class="bi bi-wallet2 me-2"></i> Finance</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'logistique_home' %}" class="nav-link"><i class="bi bi-box-seam me-2"></i> Logistique</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'liste_projets' %}" class="nav-link"><i class="bi bi-briefcase me-2"></i> Projets</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'liste_formulaires_terrain' %}" class="nav-link"><i class="bi bi-clipboard-check me-2"></i> Terrain</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'admin:index' %}" class="nav-link"><i class="bi bi-shield-lock me-2"></i> Administration Django</a>
    </li>
</ul>